@import './main.css';

.banner {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 605px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(49, 168, 221, 0.2) 50%, rgba(0, 0, 0, 0.70) 100%), url('../assets/images/banner.png');
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 39%;
  min-width: 270px;
}

.logo {
  padding: 27px 10px;
}

.banner-content h1 {
  padding-bottom: 10px;
  background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
}

.banner-content p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 40px;
  line-height: 1.2;
}

.banner-content button {
  color: var(--secondary-font-color);
  font-weight: 900;
  text-transform: uppercase;
  width: 64%;
  max-width: 326px;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #3BA1CD;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#course-content {
  width: 60%;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 80px;
}


#course-content h2 {
  padding-bottom: 5vh;
  color: var(--secondary-font-color);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 6.08px;
  text-transform: uppercase;
}

#course-content p {
  padding-bottom: 8vh;
}

.modules-list {
  display: flex;
  width: 75%;
  min-width: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 84px;
  padding-bottom: 240px;
}

.module {
  border: 1px solid var(--secondary-font-color);
  border-radius: 57px;
  background-color: var(--background-secondary-color);
  padding: 16px 20%;
  width: 100%;
}

#transform-world {
  width: 100%;
  height: 325px;
  background: url('../assets/images/woman-code.png');
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10vw;
}

#transform-world p {
  width: 244px;
  text-shadow: 3px 2px 0px var(--secondary-font-color);
  font-size: 40px;
  font-weight: 900;
  text-transform: lowercase;
  text-align: left;
}

#professional-challenges {
  padding-top: 125px;
  padding-bottom: 170px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#professional-challenges img {
  width: 46vw;
  min-width: 270px;
}

#professional-challenges h2 {
  padding-bottom: 32px;
  width: 62%;
  color: var(--secondary-font-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 6.08px;
}

#professional-challenges img {
  padding-bottom: 32px;
}

#professional-challenges p {
  width: 55%;
}

footer {
  border-top: 1px solid #33A8DB;
  background: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);
}

footer img {
  padding-top: 59px;
}

footer p {
  padding-bottom: 38px;
}